<h1>Tạo loại sản phảm</h1>

<form class="row g-3" method="post">
  <div class="col-12">
    <label for="id" class="form-label">id</label>
    <input
      type="text"
      class="form-control"
      id="id"
      name="category_id"
      required
    />
  </div>
  <div class="col-12">
    <label for="name" class="form-label">Tên loại</label>
    <input type="text" class="form-control" id="name" name="name" required />
  </div>
  <div class="col-12">
    <label for="description" class="form-label">Mô tả</label>
    <input
      type="text"
      class="form-control"
      id="description"
      name="description"
      required
    />
  </div>
  <div class="col-12 d-flex justify-content-center">
    <button class="btn btn-primary" type="submit">Tạo loại</button>
  </div>
</form>