<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
            aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="#" role="button">
                <img src="https://bizweb.dktcdn.net/100/438/322/themes/837712/assets/slider_1.jpg?1704432870733"
                    class="d-block w-100" alt="..." />
            </a>
        </div>
        <div class="carousel-item">
            <a href="#" role="button">
                <img src="https://bizweb.dktcdn.net/100/438/322/themes/837712/assets/slider_2.jpg?1704432870733"
                    class="d-block w-100" alt="..." />
            </a>
        </div>
        <div class="carousel-item">
            <a href="#" role="button">
                <img src="https://bizweb.dktcdn.net/100/438/322/themes/837712/assets/slider_3.jpg?1704432870733"
                    class="d-block w-100" alt="..." />
            </a>
        </div>
        <div class="carousel-item">
            <a href="#" role="button">
                <img src="https://bizweb.dktcdn.net/100/438/322/themes/837712/assets/slider_4.jpg?1704432870733"
                    class="d-block w-100" alt="..." />
            </a>
        </div>
        <div class="carousel-item">
            <a href="#" role="button">
                <img src="https://bizweb.dktcdn.net/100/438/322/themes/837712/assets/slider_5.jpg?1704432870733"
                    class="d-block w-100" alt="..." />
            </a>
        </div>
        <div class="carousel-item">
            <a href="#" role="button">
                <img src="https://bizweb.dktcdn.net/100/438/322/themes/837712/assets/slider_6.jpg?1704432870733"
                    class="d-block w-100" alt="TKD CYCLE 7" />
            </a>
        </div>
    </div>
    <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="..." />
    </div>
</div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
</button>
</div>
<section class="section-category py-4">
    <div class="container cate-swiper justify-content-center">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="cate-item">
                        <a href="">
                            <img src="https://bizweb.dktcdn.net/thumb/small/100/438/322/collections/zoom65v2-exploded2-vuong.jpg?v=1679055931887"
                                alt="" />
                            <h4>Bàn phím cơ</h4>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="cate-item">
                        <a href="">
                            <img src="https://bizweb.dktcdn.net/thumb/small/100/438/322/collections/15307-cherry-mx-keycap-r2-translucent-black-01.jpg?v=1634229563697"
                                alt="" />
                            <h4>Keycap</h4>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="cate-item">
                        <a href="">
                            <img src="https://bizweb.dktcdn.net/thumb/small/100/438/322/collections/f0048a3ee665ce54d0dd82cc89ddc026.jpg?v=1634229637710"
                                alt="" />
                            <h4>Phụ kiện</h4>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="cate-item">
                        <a href="">
                            <img src="https://bizweb.dktcdn.net/thumb/small/100/438/322/collections/10r.jpg?v=1679055556480"
                                alt="" />
                            <h4>RK</h4>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="cate-item">
                        <a href="">
                            <img src="https://bizweb.dktcdn.net/thumb/small/100/438/322/collections/base.jpg?v=1679054732477"
                                alt="" />
                            <h4>Keycap chery</h4>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="cate-item">
                        <a href="">
                            <img src="https://bizweb.dktcdn.net/thumb/small/100/438/322/collections/61ifhaojxwl-ac-sy450.jpg?v=1634229851633"
                                alt="" />
                            <h4>Keycap OEM</h4>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="cate-item">
                        <a href="">
                            <img src="https://bizweb.dktcdn.net/thumb/small/100/438/322/collections/o1cn01sxqv5z2dpsaupksjc-35038659.jpg?v=1634402688307"
                                alt="" />
                            <h4>Dầu lube</h4>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="cate-item">
                        <a href="">
                            <img src="https://bizweb.dktcdn.net/thumb/small/100/438/322/collections/3b7c3ec0f91039567075815f7288bfc1.jpg?v=1634229979927"
                                alt="" />
                            <h4>Dụng cụ lube phím</h4>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="cate-item">
                        <a href="">
                            <img src="https://bizweb.dktcdn.net/thumb/small/100/438/322/collections/51935-mat-truoc-co-khoa-cua-tui-dung-ban-phim-leopold-keyboard-pouch-full-size-467-x-160-x-40mm-cobalt-blue.jpg?v=1634230021157"
                                alt="" />
                            <h4>Túi dựng bàn phím</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>