<header class="navbar sticky-top my-0 py-1">
    <div class="container-fluid">
        <a href="/" class="nav-brand text-white text-decoration-none d-flex align-items-center">
            <img src="img/logo.png" width="40px" height="40px" alt="" class="me-2">
            <span class=""><strong>SÓI GEAR</strong></span>
        </a>
        <button class="d-md-none navbar-toggler me-2 boder boder-white" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-list"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
            </svg>
        </button>
</header>
</div>
</diV>