<footer class="pt-5">
  <div class="container">
    <div class="row lh-lg">
      <div class="col-12 col-md-4 col-lg-4">
        <h6 class="text-white my-3"><strong>SÓI GEAR</strong></h6>
        <ul class="nav">
          <li class="nav-item text-white-50">Địa chỉ: CS HN: 360 Thái Hà, P.
            Trung Liệt, Q. Đống Đa, HN</li>
          <li class="nav-item text-white-50">Địa chỉ: CS HN: 360 Thái Hà, P.
            Trung Liệt, Q. Đống Đa, HN</li>
          <li class="nav-item text-white-50">
            Điện thoại:
            <a href="tel:0123456789">0123456789</a>

          </li>
          <li class="nav-item text-white-50">
            Email:
            <a
              href="mailto:47.01.104.109@student.hcmue.edu.vn"
            >47.01.104.109@student.hcmue.edu.vn</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <h6 class="text-white my-3"><strong>THEO DÕI CHÚNG TÔI</strong></h6>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="/" class="nav-link p-0 text-white-50">Trang chủ</a>
          </li>
          <li class="nav-item">
            <a href="/" class="nav-link p-0 text-white-50">Kiến thức & Phần mềm</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link p-0 text-white-50">Chính sách bảo hành</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link p-0 text-white-50">Software driver</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link p-0 text-white-50">Liên hệ</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-4 col-lg-5">
        <h6 class="text-white my-3"><strong>NHẬN TIN KHUYẾN MÃI</strong></h6>
        <div class="input-group mb-3">
          <input
            type="email"
            class="form-control rounded-0"
            placeholder="Nhập email của bạn"
            aria-describedby="button-addon2"
          />
          <button
            class="btn btndkkm rounded-0 text-white"
            type="button"
            id="button-addon2"
          >Đăng ký</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container py-3 px-0 mt-5 border-top border-secondary">
    <div class="row justify-content-between">
      <div class="col ps-auto">
        <p class="mb-0">Bản quyền thuộc về
          <a class="text-white" href="https://soigear.vn/">Sói Gear</a>
          clone bởi
          <a class="text-white" href="">trngkhang</a></p>
      </div>
      <div class="col d-flex justify-content-end d-none d-lg-block">
        <ul class="nav flex-row gap-3">
          <li class="nav-item">
            <a href="/" class="nav-link p-0 text-white-50">Trang chủ</a>
          </li>
          <li class="nav-item">
            <a href="/" class="nav-link p-0 text-white-50">Kiến thức & Phần mềm</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link p-0 text-white-50">Chính sách bảo hành</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link p-0 text-white-50">Software driver</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link p-0 text-white-50">Liên hệ</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>