<div class="header py-2">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-6 col-md-3 col-lg-2">
        <a href="/" class="d-block">
          <img style="height: 80px; margin-left: -15px"
            src="https://bizweb.dktcdn.net/100/438/322/themes/837712/assets/logo.png?1704432870733"
            alt="soigear-logo" />
        </a>
      </div>
      <div class="col-3 d-block d-md-none order-3">
        <nav class="navbar ">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
              aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-start " tabindex="-1" id="offcanvasNavbar"
              aria-labelledby="offcanvasNavbarLabel">
              <div class="offcanvas-header" style="background-color: #254753; color:white">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Danh mục sản phẩm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Trang chủ</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Sản phẩm</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Kiến thức & Phần mềm</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Chính sách bảo hành</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Software Driver</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Liên hệ</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <div class="col-9 col-md-6 col-lg-8 col-xl-8 order-3 order-md-2">
        <div class="row">
          <form class="col-12 col-lg-6" action="">
            <div class="input-group border border-2 border-secondary">
              <input type="text" class="form-control border" placeholder="Search" name="search" />
              <div class="input-group-btn">
                <button class="btn btn-default border border-0" type="submit">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-search" viewBox="0 0 16 16">
                    <path
                      d="M11.742 10.344a6.5 6.5 0 1 
                    0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                  </svg>
                </button>
              </div>
            </div>
          </form>
          <div class="col-lg-3 contact-phone ps-5 d-none d-lg-block" style="">
            <p>Tổng đài hỗ trợ/ Hotline</p>
            <a href="tel:0123456789">0123 456 789</a>
          </div>
          <div class="col-lg-3 account-header ps-5 d-none d-lg-block">
            <p>Xin chào</p>
            <a href="">Đăng nhập</a>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-3 col-lg-2 col-xl-2 order-2 order-md-3">
        <ul class="header-group-account mb-0 ps-0">
          <li>
            <div class="icon">
              <a href="" class="">
                <svg enable-background="new 0 0 412.735 412.735" version="1.1" viewBox="0 0 412.74 412.74"
                  xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="m295.71 35.522c-34.43-0.184-67.161 14.937-89.339 41.273-22.039-26.516-54.861-41.68-89.339-41.273-64.633 0-117.03 52.395-117.03 117.03 0 110.76 193.31 218.91 201.14 223.09 3.162 2.113 7.286 2.113 10.449 0 7.837-4.18 201.14-110.76 201.14-223.09 0-64.633-52.396-117.03-117.03-117.03zm-89.339 319.22c-30.302-17.763-185.47-112.33-185.47-202.19 0-53.091 43.039-96.131 96.131-96.131 32.512-0.427 62.938 15.972 80.457 43.363 3.557 4.905 10.418 5.998 15.323 2.44 0.937-0.68 1.761-1.503 2.44-2.44 29.055-44.435 88.631-56.903 133.07-27.848 27.202 17.787 43.575 48.114 43.521 80.615 1e-3 90.907-155.17 184.95-185.47 202.19z">
                  </path>
                </svg>
                <span class="wishlistCount">0</span>
              </a>
            </div>
          </li>

          <li>
            <div class="icon">
              <a href="" class="">
                <svg enable-background="new 0 0 407.453 407.453" version="1.1" viewBox="0 0 407.45 407.45"
                  xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                  <g fill="#010002">
                    <path
                      d="m255.1 116.52c4.487 0 8.129-3.633 8.129-8.129 0-4.495-3.642-8.129-8.129-8.129h-111.61c-4.487 0-8.129 3.633-8.129 8.129 0 4.495 3.642 8.129 8.129 8.129h111.61z">
                    </path>
                    <path
                      d="m367.06 100.26h-55.372c-4.487 0-8.129 3.633-8.129 8.129 0 4.495 3.642 8.129 8.129 8.129h47.243v274.68h-310.41v-274.68h44.536c4.487 0 8.129-3.633 8.129-8.129 0-4.495-3.642-8.129-8.129-8.129h-52.664c-4.487 0-8.129 3.633-8.129 8.129v290.94c0 4.495 3.642 8.129 8.129 8.129h326.67c4.487 0 8.129-3.633 8.129-8.129v-290.94c0-4.495-3.634-8.128-8.129-8.128z">
                    </path>
                    <path
                      d="m282.59 134.8c4.487 0 8.129-3.633 8.129-8.129v-59.273c-1e-3 -37.156-40.115-67.394-89.618-67.394-49.308 0-89.414 30.238-89.414 67.394v59.274c0 4.495 3.642 8.129 8.129 8.129s8.129-3.633 8.129-8.129v-59.274c0-28.198 32.823-51.137 73.36-51.137 40.334 0 73.157 22.939 73.157 51.137v59.274c-1e-3 4.495 3.633 8.128 8.128 8.128z">
                    </path>
                    <path
                      d="m98.892 147.57c0 11.526 9.389 20.907 20.923 20.907s20.923-9.38 20.923-20.907c0-4.495-3.642-8.129-8.129-8.129s-8.129 3.633-8.129 8.129c0 2.561-2.089 4.65-4.666 4.65-2.569 0-4.666-2.089-4.666-4.65 0-4.495-3.642-8.129-8.129-8.129s-8.127 3.634-8.127 8.129z">
                    </path>
                    <path
                      d="m282.59 168.47c11.534 0 20.923-9.38 20.923-20.907 0-4.495-3.642-8.129-8.129-8.129s-8.129 3.633-8.129 8.129c0 2.561-2.089 4.65-4.666 4.65s-4.666-2.089-4.666-4.65c0-4.495-3.642-8.129-8.129-8.129s-8.129 3.633-8.129 8.129c2e-3 11.526 9.39 20.907 20.925 20.907z">
                    </path>
                  </g>
                </svg>
                <span class="headerItemCount">0</span>
              </a>
            </div>
          </li>

          <li>
            <div class="icon">
              <a href="" class="">
                <svg width="419pt" height="419pt" viewBox="0 -45 419.24 419" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="m359.08 102.91c1.4609 1.5391 3.4766 2.4375 5.6016 2.4844 2.125 0.050781 4.1797-0.75 5.7109-2.2227l46.414-44.898c1.5625-1.5117 2.4414-3.5938 2.4336-5.7656-0.003906-2.1758-0.89453-4.2539-2.4688-5.7539l-46.41-44.41c-3.1953-3.0547-8.2578-2.9414-11.312 0.25-1.4648 1.4922-2.2656 3.5156-2.2188 5.6055 0.046875 2.0898 0.9375 4.0742 2.4688 5.5l32.008 30.426h-64.273c-27.59 0.14453-53.539 13.133-70.191 35.137l-54.852 71.617-79.242-103.46c-1.4961-2.0156-3.8359-3.2305-6.3477-3.2891h-108.4c-4.418 0-8 3.582-8 8 0 4.418 3.582 8 8 8h104.45l79.449 104-79.449 104h-104.45c-4.418 0-8 3.582-8 8 0 4.418 3.582 8 8 8h108.4c2.5195-0.078125 4.8594-1.3086 6.3477-3.3359l79.242-103.41 54.812 71.617c16.66 22.012 42.625 35.004 70.23 35.133h64.273l-32.008 30.426c-2.3555 2.2344-3.1016 5.6875-1.8789 8.6992 1.2227 3.0078 4.1602 4.9648 7.4102 4.9258 2.0625-0.007813 4.043-0.8125 5.5312-2.2461l46.41-44.426c1.5742-1.5039 2.4648-3.5859 2.4688-5.7617 0.007813-2.1758-0.87109-4.2617-2.4336-5.7773l-46.414-44.91c-3.1758-3.0742-8.2422-2.9883-11.312 0.18359-3.0703 3.2539-2.9883 8.3633 0.1875 11.516l32.207 31.371h-64.441c-22.617-0.14062-43.875-10.816-57.5-28.875l-57.461-75.023 57.5-75.227c13.613-18.043 34.855-28.719 57.461-28.875h64.441l-32.207 31.371c-3.1758 3.1094-3.2578 8.1992-0.1875 11.414z">
                  </path>
                </svg>
                <span class="headerCompareCount">0</span>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg nav-header py-0" aria-label="Tenth navbar example">
  <div class="container-fluid">
    <div class="collapse navbar-collapse justify-content-sm-center flex-direction-md-col d-md-block"
      id="navbarsExample08">
      <ul class="navbar-nav flex-md-row justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Trang chủ</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Sản phẩm</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Bàn phím cơ</a></li>
            <li><a class="dropdown-item" href="#">Keycap</a></li>
            <li><a class="dropdown-item" href="#">Switch</a></li>
            <li><a class="dropdown-item" href="#">Phụ kiện</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Kiến thức & Phần mềm</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Chính sách bảo hành</a>
        </li>
        <li class="nav-item d-none d-xl-block">
          <a class="nav-link" href="#">Software Driver</a>
        </li>
        <li class="nav-item d-none d-xl-block">
          <a class="nav-link" href="#">Liên hệ</a>
        </li>

      </ul>
    </div>
  </div>
</nav>